<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ArtNow Tests" parallel="tests" thread-count="4">
<!--    <listeners>-->
<!--        <listener class-name="utils.AllureListener"/>-->
<!--    </listeners>-->
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.EmbroideryExistenceTest"/>
            <class name="tests.EmbroideryStyleTest"/>
            <class name="tests.FavoritesTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.EmbroideryExistenceTest"/>
            <class name="tests.EmbroideryStyleTest"/>
            <class name="tests.FavoritesTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>
</suite>